doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/index_style.css')
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,200italic,200,300,300italic,400italic,600,600italic,700,700italic,900,900italic', rel='stylesheet', type='text/css')
  body
    .main.w3l
      h2 Welcome
      h1  My App
      h3 "Make your problems easier"
      a.back(href='http://localhost:3000/login') Continue      
      .footer.agileits
        .social-icons.w3
          ul
            li
              a.twitter(href='#')
            li
              a.facebook(href='#')
            li
              a.pinterest(href='#')
