<html>
    <style>
        .colorGray{color: #8A8887;}
        .colorRed{color: red;}
    </style>
    
  <body style="background-color:#eaf0f2">
    <div class="container">
      <div class="row">

      <!-- left sidebar menu  START-->

        <div class="hidden-xs col-md-3 col-centered" ng-controller="loginUserDetails">
          <div class="item">
            <div class="content">
              <div style="position: fixed;top: 7%;width: 21%;z-index: 999;" class="card hovercard">
                <div class="cardheader"></div>
                <div class="avatar"><img alt="" src="images/my.jpg"/></div>
                <div class="info">
                  <div class="title"><a target="_blank" href="#">{{userInfo.full_name}}</a></div>
                  <div class="desc">{{userInfo.email}}</div>
                  <div class="desc">Backend developer</div>
                  <div class="desc">Tech geek</div>
                </div>
                <div class="bottom"><a href="https://twitter.com/webmaniac" class="btn btn-primary btn-twitter btn-sm"><i class="fa fa-twitter"></i></a><a rel="publisher" href="https://plus.google.com/+ahmshahnuralam" class="btn btn-danger btn-sm"><i class="fa fa-google-plus"></i></a><a rel="publisher" href="https://plus.google.com/shahnuralam" class="btn btn-primary btn-sm"><i class="fa fa-facebook"></i></a><a rel="publisher" href="https://plus.google.com/shahnuralam" class="btn btn-warning btn-sm"><i class="fa fa-behance"></i></a></div>
              </div>
            </div>
          </div>
        </div>

        <!-- left sidebar menu END -->

        <!-- Middle post content page  start-->

        <div style="padding-top:5%;" class="col-md-6 col-centered">
          <div id="boxshadow" style="border:1px solid #cecece; border-radius:3px;" class="item">
            <div class="content">

                <div ng-view>
                  
                </div>
            

            </div>

            
          </div>
        </div>

        <!-- Middle post bar END -->


        <!-- Right SIdebar Content STAET -->


       <!--  <div class="hidden-xs col-md-3 col-centered">
          <div class="item">
            <div class="content">
              <div style="position: fixed;top: 7%;width: 21%;              z-index: 999;" class="card hovercard">
                <div class="cardheader"></div>
                <div class="avatar"><img alt="" src="http://lorempixel.com/100/100/people/9/"/></div>
                <div class="info">
                  <div class="title"><a target="_blank" href="http://scripteden.com/">Script Eden</a></div>
                  <div class="desc">Passionate designer</div>
                  <div class="desc">Curious developer</div>
                  <div class="desc">Tech geek</div>
                </div>
                <div class="bottom"><a href="https://twitter.com/webmaniac" class="btn btn-primary btn-twitter btn-sm"><i class="fa fa-twitter"></i></a><a rel="publisher" href="https://plus.google.com/+ahmshahnuralam" class="btn btn-danger btn-sm"><i class="fa fa-google-plus"></i></a><a rel="publisher" href="https://plus.google.com/shahnuralam" class="btn btn-primary btn-sm"><i class="fa fa-facebook"></i></a><a rel="publisher" href="https://plus.google.com/shahnuralam" class="btn btn-warning btn-sm"><i class="fa fa-behance"></i></a></div>
              </div>
            </div>
          </div>
        </div> -->


        <!-- Right sidebar Content END -->




      </div>
    </div>

     <!-- Comment  Modal -->
     
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Comment</h4>
            </div>
            <div class="modal-body">

                    <article class="timeline-entry" ng-controller='postCtrl'>
                      <div class="timeline-entry-inner">
                        <div class="timeline-icon bg-secondary"><img style="border-radius:50%; height:40px; width:40px; " alt="" src="images/my.jpg"/>
                        </div>
                        <div class="timeline-label">
                          <h2><a href="#">{{postDetail.user_name}}</a></h2>
                          <span>{{postDetail.created_at}}</span>
                          <p>{{postDetail.post_text}}</p>                        
                        <hr>
                        <div id="postStats" style="margin-bottom: -10px;margin-top: -15px;">
                            <span class="col-xs-4 col-centered">                                
                                <span ng-class="{'colorRed': category === postDetail.id}" ng-style='myStyle' ng-if='postDetail.is_like == 1' style="color:red;cursor: pointer;" ng-click="postLike(postDetail.id)">
                                    <i aria-hidden="true" class="fa fa-heart-o fa-lg"></i>
                                </span>
                                 <span ng-class="{'colorRed': category === postDetail.id}" style="cursor: pointer;"  ng-if='postDetail.is_like == 0' ng-click="postLike(postDetail.id)">
                                    <i aria-hidden="true" class="fa fa-heart-o fa-lg"></i>
                                </span>

                                <span ng-if='postDetail.total_like == 0'>
                                    <a href="javascript:void(0);">{{myLike}} Like</a>
                                </span>
                                <span ng-if='postDetail.total_like == 1'>
                                    <a href="javascript:void(0);">{{postDetail.total_like}} like</a>
                                </span>
                                <span ng-if='postDetail.total_like > 1'>
                                    <a href="javascript:void(0);">{{postDetail.total_like}} likes</a>
                                </span>
                            </span>
                            <span class="col-xs-4 col-centered">
                                <span href="javascript:void(0)">
                                    <i aria-hidden="true" class="fa fa-comment fa-lg"></i>
                                </span>
                            </span>
                            <span class="col-xs-4 col-centered">
                                <a href="javascript:void(0)">
                                    <i aria-hidden="true" class="fa fa-retweet fa-lg"></i>
                                </a>
                            </span>
                            <span>
                                <a href="javascript:void(0)">
                                    <i aria-hidden="true" class="fa fa-ellipsis-v fa-lg"></i>
                                </a>
                            </span>
                        </div>
                      </div>
                     </div>
                    </article>




            </div>            
          </div>
        </div>
      </div>
    

      <!-- Comment  Modal END-->
  </body>
</html>