<!DOCTYPE html>
<html>

<body>

  <h1><img src="https://s3.amazonaws.com/gitsocial-github/gitsocial.png" /> <small>A social network for programmers.</small></h1>
<header>
  <figure class="profile-banner">
    <img src="https://s3.amazonaws.com/doubleslash-codepen/mnpls.jpg" alt="Profile banner" />
  </figure>
  <figure class="profile-picture" 
    style="background-image: url('https://s3.amazonaws.com/doubleslash-codepen/me-and-arron.jpg')">
  </figure>
  <div class="profile-stats">
    <ul>
      <li>13    <span>Projects</span></li>
      <li>1,354 <span>Commits</span></li>
      <li>32    <span>Following</span></li>
      <li>324   <span>Followers</span></li>
    </ul>
    <a href="javascript:void(0);" class="follow">
      Follow Nick
    </a>
  </div>
  <h1>Nick Dobie <small>nrdobie</small></h1>
</header>

 

</body>

</html>